.ant-btn{
  font-size: 12px;
  padding:3px 6px;
  height:30px;
}
header{
  font-size: 2rem;
}
.logo{
  display: flex;
  align-items:center;

  img{
    width: 48px;
    height: 48px;
  }

  span{
    font-size: 24px;
    padding-left: 5px;
  }
}

.footer{
  text-align: center;
}
.newsContainer{
  margin-top: 1%;
  width: 25%;
  float: left;

  img{
    width:100%;
  }
}